* {
    font-family: Segoe UI;
}

button {
    width: 250px;
    height: 50px;
    font-size: 18px;
    background-color: cadetblue;
    opacity: 73;
}

nav {
    position: absolute; 
}

button:hover {
    background-color: rgb(130, 169, 180);
}

#backgroundColor {
    background-color: cadetblue;
    opacity: 73;
}


table,th,td {
   border: 1px solid rgb(34, 177, 21);
}

.floatright {
    float: right;
}

aside {
    font-style: italic;
    float: left;
    position: relative;
    top: 100px;

}

img {
    width:600px;
    position: relative;
}

label {
    display: block;  
 }
 input  {
    display: block;
 }
 



